{% extends 'base.html' %}
{% block title %}
    Index
{% endblock %}
{% block menu %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_photo' %}">Add Photo</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <form class="d-flex" role="search" method="GET">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
    <div class="row row-cols-1 row-cols-md-10 g-4" style="margin-top: 20px; margin-bottom: 30px">
        {% for photo in photos %}
            <div class="col">
                <div class="card h-100" style="height: 700px;width: 700px;">
                    <img src="{{ photo.image.url }}" class="card-img-top" style="width: 697px; height: 400px" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">User: <a class="profile_info"
                                                        href="{% url 'profile' photo.author.pk %}">{{ photo.author }}</a>
                        </h2>
                        <p class="signature">Signature: {{ photo.signature }}</p>
                        <p class="bobik">Date: {{ photo.date }}</p>
                        <a class="profile_info" href={% url 'details' photo.pk %}>Detail</a>
                        {% if user.is_authenticated %}
                            <form method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary add-favorite" data-post="{{ photo.pk }}">Добавить в избранное</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
{#    <script src="../static/main.js">#}
    </script>
{% endblock %}
